Support prototype scope [PAXCDI-112]

**[Harald Wellmann](https://ops4j1.jira.com/secure/ViewProfile.jspa?accountId=557058:22a27d04-788e-4f94-b3c8-ac0f72869ed0)** created **[PAXCDI-112](https://ops4j1.jira.com/browse/PAXCDI-112)** 

Support prototype scope, corresponding to PrototypeServiceFactory.



See RFC 193, Section 5.5

---

**Affects:** 0.8.0
**Fixed in:** 0.9.0
Votes: 0, Watches: 1

---
**Referenced issues**

**depends on:**
* #166 - Support OSGi Core 6.0.0 while requiring 4.3.1 only [PAXCDI-111]
