Support bundle scope [PAXCDI-113]

**[Harald Wellmann](https://ops4j1.jira.com/secure/ViewProfile.jspa?accountId=557058:22a27d04-788e-4f94-b3c8-ac0f72869ed0)** created **[PAXCDI-113](https://ops4j1.jira.com/browse/PAXCDI-113)** 

Support bundle scope, corresponding to ServiceFactory.



See RFC 193, Section 5.5

---

**Affects:** 0.8.0
**Fixed in:** 0.9.0
Votes: 0, Watches: 1
