Register BeanManager service [PAXCDI-121]

**[Harald Wellmann](https://ops4j1.jira.com/secure/ViewProfile.jspa?accountId=557058:22a27d04-788e-4f94-b3c8-ac0f72869ed0)** created **[PAXCDI-121](https://ops4j1.jira.com/browse/PAXCDI-121)** 

In addition to the `CdiContainer` service, register the `BeanManager`.



This is almost redundant, given that the BeanManager can always be obtained via `CdiContainer.getBeanManager()`, but will satisfy RFC 193, section 5.8.

---

**Fixed in:** 0.9.0
Votes: 0, Watches: 1
